<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="flask_api.app" />
        <add key="PYTHONPATH" value="C:\text_extraction" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Text_extractor" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\text_extraction\.venv\Scripts\python.exe|C:\text_extraction\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
